<a class="bookmark" href="https://www.google.com/">구글</a>
<a class="bookmark" href="https://m.naver.com/">네이버</a>
<a class="bookmark" href="https://m.search.naver.com/search.naver?sm=mtp_hty.top&where=m&query=%EC%84%9C%EC%9A%B8%EB%82%A0%EC%94%A8">서울날씨</a>
<a class="bookmark" href="https://en.dict.naver.com/#/main">영어사전</a>
<a class="bookmark" href="https://dict.naver.com/vikodict/vietnamese/#/main">베트남어사전</a>
<a class="bookmark" href="https://ja.dict.naver.com/#/main">일어사전</a> 
<a class="bookmark" href="https://m.clien.net/service/">클리앙</a>
<a class="bookmark" href="https://dart.fss.or.kr/">다트 전자공시</a>
<a class="bookmark" href="https://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A005930&cID=&MenuYn=Y&ReportGB=&NewMenuID=11&stkGb=&strResearchYN=">COMP FN가이드</a>
<a class="bookmark" href="https://freesis.kofia.or.kr/">금융투자협회 (대차잔고)</a>
